%body
  .signup
    %header.headerSignup
      %image.logoSignup{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3371656568"}
    .signupMain
      .signupContents
        .signupContentsTop
          %h1.signupH1 新規会員登録
        .signupInner
          .signupKeys
            .signkeysEmail
              %image.keys{:src => "https://i.gyazo.com/7c3ec5cb6e39f847506d1e6c02818b25.png"}
            %image.keys{:src => "https://i.gyazo.com/087d3455476edcf600c9a0c9b61c12fd.png"}
              %image.keys{:src => "https://i.gyazo.com/d48b36410249dacee322f2094d5f0a7a.png"}
    %footer.footerSignup
      .footerSignupInner.clearfix
        %nav.clearfix
          %li= link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
          %li= link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
          %li= link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
        %image.footerlogo{:src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?562024368"}
          %p
            %small ©︎2018 Merecari
