<div class="signup">
  <header class="headerSignup">
    <image class="logoSignup" src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3371656568">
  </header>
  <div class="signupMain">
    <div class="signupContents">
      <div class="signupContentsTop">
        <h1 class="signupH1">新規会員登録</h1>
      </div>
      <div class="signupInner">
        <div class="signupKeys">
          <div class="signkeysEmail">
            <image class="keys" src="https://i.gyazo.com/7c3ec5cb6e39f847506d1e6c02818b25.png">
          </div>
          <!-- <div class="signupKeysFB"> -->
            <image class="keys" src="https://i.gyazo.com/087d3455476edcf600c9a0c9b61c12fd.png">
          <!-- </div> -->
          <!-- <div class="signupKeysGLE"> -->
            <image class="keys" src="https://i.gyazo.com/d48b36410249dacee322f2094d5f0a7a.png">
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <footer class="footerSignup">
    <div class="footerSignupInner clearfix">
      <nav class="clearfix">
        <li><a herf="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a></li>
        <li><a herf="https://www.mercari.com/jp/tos/">メルカリ利用規約</a></li>
        <li><a herf="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a></li>
      </nav>
      <image class="footerlogo" src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?562024368">
        <p><small>©︎2018 Merecari</small></p>
    </div>
  </footer>
</div>
