.wrapperShow
  .wrapperShowItem
    .wrapperShowItemName
    .wrapperShowItemDetail
      .wrapperShowItemDetailLeft
        .wrapperShowItemDetailLeftThumbnail
        .wrapperShowItemDetailLeftimages
      .wrapperShowItemDetailRight
        .wrapperShowItemDetailRightTable
          %table{:border => "1"}
            %tr
              %th.tableLeft 出品者
              %th.tableRight ぽくぽく坊や
            %tr
              %td.tableLeft カテゴリー
              %td.tableRight
                メンズ
                %br
                >トップス
                %br
                >パーカー
            %tr
              %td.tableLeft ブランド
              %td.tableRight チャンピオン
            %tr
              %td.tableLeft 商品のサイズ
              %td.tableRight S
            %tr
              %td.tableLeft 商品の状態
              %td.tableRight 未使用
            %tr
              %td.tableLeft 配送料の負担
              %td.tableRight 送料込み(出品者負担)
            %tr
              %td.tableLeft 配送の方法
              %td.tableRight らくらくメルカリ便
            %tr
              %td.tableLeft 配送元地域
              %td.tableRight アメリカ
            %tr
              %td.tableLeft 発送日の目安
              %td.tableRight 2~3日で発送
    .wrapperShowItemPrice
    .wrapperShowItemPoint
    .wrapperShowItemBuy
    .wrapperShowItemDescription
    .wrapperShowItemLinks
      .wrapperShowItemLinksLikes
      .wrapperShowItemLinksReport
      .wrapperShowItemLinksSecurity
  .wrapperShowCommentsShow
  .wrapperShowCommentNew
  .wrapperShowPage
  .wrapperShowSns
  .wrapperShowOthers
