.categoryShowWrapper
  .categoryShow
    .categoryShowHeader
    .categoryShowMain
      .categoryShowMainTitle
        = "#{@selected_Scate.name}の商品一覧"
      .categoryShowMainInner
        .categoryShowMainInnerItems
          = render partial: "categoryShow", locals: { item: @selected_cate_items }
