.l-content
  %section.l-chapter-container
    %h2.l-chapter-head 支払い方法
    .l-single-inner
      %section
        .l-single-content
          %h3.l-chapter-sub-head クレジットカード一覧
        %ul.settings-payment-list
      %section.settings-add-card
        .l-single-content
          %a.btn-default.btn-red.submit_button{href: "/root/mypage/card/create"}
            = fa_icon 'fa-cc-mastercard', class: 'fa-cc-mastercard'
            クレジットカードを追加する
      .settings-not-regist
        %a{href: "/jp/help_center/category/6/", target: "_blank"}
          %span 支払い方法について
          = fa_icon 'fa-chevron-right', class: 'fa-chevron-right'
