.mypageWhole
  .lContainer.clearfix
    .logoutCcontent
      .buttonLogout
        =link_to destroy_user_session_path, method: :delete, class: "btn-default" do
          ログアウト
    .lSide
      = render "mainNav"