.pointWrapper
  .pointMainWrapper
    .pointHeader
      %h3.pointHeaderTitle
        ポイント
    .pointLinks
      = link_to "#", class: "pointLink" do
        所持ポイント
        %span.yourCurrentPoint p0
      = link_to "#", class: "pointLink" do
        ポイント履歴
        %span >
      = link_to "#", class: "pointLink" do
        ポイントの有効期限
        %span >
      = link_to "#", class: "pointLink" do
        ポイントとは？
        %span >
