.wrapper
  .guide
    .guideImage
      =image_tag("https://www.mercari.com/jp/assets/img/help_center/jp/bg-top.png?27899896",class: "guideImageIcatch")
    .guideLeft
      .guideLeftInitializer
        .guideLeftInitializerTitle 初めてガイド
        .guideLeftInitializerContent
          .guideLeftInitializerContentText 初めての方へ
          .guideLeftInitializerContentIcon
            =fa_icon "fa-angle-down",class: "fa-angle-down"
      .guideLeftQuetion
      .guideLeftCategory
      .guideLeftMercariBox
      .guideLeftAgreement
    .guideRight


