.breadCrumbShowBorder
.breadCrumbShow
  %ul.breadcrumb
  %li.list1{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://localhost:3000", :itemprop => "url"}
      %span{:itemprop => "title"} メルカリ
  %p >
  %li.list2{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://localhost:3000/mypages/main", :itemprop => "url"}
      %span{:itemprop => "title"} マイページ
  %p >
  %li.list3.last{:itemscope => "itemscope", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
    %a{:href => "http://localhost:3000/mypages/notification", :itemprop => "url"}
      %span{:itemprop => "title"}

.wrapper
  .guide
    .guideImage
      =image_tag("https://www.mercari.com/jp/assets/img/help_center/jp/bg-top.png?27899896",class: "guideImageIcatch")
    .guideLeft
      .guideLeftInitializer
        .guideLeftInitializerTitle 初めてガイド
        .guideLeftInitializerContent
          .guideLeftInitializerContentText 初めての方へ
          .guideLeftInitializerContentIcon
            =fa_icon "fa-angle-down",class: "fa-angle-down"
      .guideLeftQuetion
      .guideLeftCategory
      .guideLeftMercariBox
      .guideLeftAgreement
    .guideRight


