<div class="mypageWhole">
  <div class="lContainer clearfix">
    <div class="lCcontent">
      <div class="mypageUserIcon">
        <div class="mypageContainer">
          <image class="profileIcon" src="https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"></image>
          <h2 class="userName">USER</h2>
          <div class="userStatus">
            <div class="userReview">
              <p class="noun">評価</p>
              <span class="rank">0</span>
            </div>
            <div class="products">
              <p class="noun">出品数</p>
              <span class="rank">0</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mypageTabcontain">
        <ul>
          <li class="activeTop clicked">
            <h3 class="mypage">
              <a class="newsTab" herf="">お知らせ</a>
            </h3>
          </li>
          <li class="activeTop">
            <h3 class="mypage">
              <a class="todoTab" herf="">やることリスト</a>
            </h3>
          </li>
        </ul>
      </div>
      <div class="mypageContent">
        <div class="listBox">
          <image class="empty" src="https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?27899896">
            <p class="notification">現在、お知らせはありません</p>
            <p class="hide">現在、やることリストはありません</p>
        </div>
      </div>
      <div class="tradingHistory">
        <h3 class="mypageItems">購入中の商品</h3>
        <ul>
        <li class="activeBottom selected">
          <h3 class="mypage">
            <a class="dealing" herf="">取引中</a>
          </h3>
        </li>
        <li class="activeBottom">
          <h3 class="mypage">
            <a class="dealt" herf="">過去の取引</a>
          </h3>
        </li>
        </ul>
        <div class="mypageContent">
          <div class="listBoxBottom">
            <image class="empty" src="https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?27899896">
              <p class="notification">取引中の商品がありません</p>
              <p class="hide">過去の取引がありません</p>
          </div>
        </div>
      </div>
    </div>
    <div class="lSide">
      <%= render "mypageNav" %>
    </div>
  </div>
</div>
