.categoryShowWrapper {
  background: $back-gray;
  .categoryShow {
    width: 1050px;
    margin: 0 auto;
    .categoryShowHeader {
      width: 100%;
      height: 30px;
      padding-top: 50px;
      background: $back-gray;
      &List {
        overflow: scroll;
        height: 30px;
        &Item {
          margin-right: 10px;
          color: $button-blue;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    .categoryShowMain {
      &Title {
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0;
      }
      &Inner {
        .categoryShowLink {
          text-decoration: none;
          color: black;
        }
        &Items {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding-bottom: 50px;
        }
        &Item{
          width: 194px;
          height: 310px;
          margin: 0 15px 20px 0;
          background: white;
          &Image {
            height: 195px;
          }
          &Name {
            height: 53px;
            padding: 12px 10px 0;
            overflow: scroll;
          }
          &Bottom {
            display: flex;
            height: 49px;

            &Price {
              padding: 5px 0 0 12px;
              font-size: 15px;
              width: 67%;
              font-weight: bold;
              &Tax {
                font-size: 10px;
                font-weight: normal;
              }
            }
            &Like {
              margin-top: 15px;
              font-size: 14px;
              .fa-heart-o {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
