.deliverAddressWrapper {
  .mainWrapper {
    width: 700px;
    background: white;
    margin: 0 auto;
    .adChapterContainer {
      background-color: $white;
      h2 {
        font-size: 22px;
        text-align: center;
        border-bottom: 0.5px solid #f5f5f5;
        padding: 10px 0;
        font-weight: bold;
      }
      .adSingleInner {
        margin: 0 auto;
        width: 572px;
        .formGroups {
          margin: 0 auto;
          width: 320px;
          padding: 0 63px;
          .formGroup {
            margin: 0 auto;
            &Name {
              padding-top: 30px;
            }
            &Kana {
              padding-top: 30px;
            }
            &PostalCodes {
              padding-top: 30px;
            }
            &Region {
              padding-top: 30px;
            }
            &City {
              padding-top: 30px;
            }
            &Address {
              padding-top: 30px;
            }
            &BuildingName {
              padding-top: 30px;
            }
            &Tell {
              padding-top: 30px;
            }
          }
        }
      }
      .adButton {
        width: 320px;
        height: 30px;
        line-height: 30px;
        background: #ea352d;
        font-size: 15px;
        margin: 50px auto 70px;
        color: $white;
      }
    }
  }
}

.deliverAddressWrapper {
  input {
  width: 286px;
  height: 26px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
  border-style: ridge;
  }
  select {
    width: 310px;
    height: 48px;
    padding: 10px;
    margin-top: 5px;
  }
}
.formGroupTitle {
  font-size: 14px;
  font-weight: bold;
}
.formRequire {
  background: $button-red;
  color: white;
  font-size: 10px;
  padding: 3px;
}
.formOptional {
  background: #ccc;
  color: white;
  font-size: 10px;
  padding: 3px;
}
