.emailPasswordWrapper {
  .mainWrapper {
    background: white;
    width: 700px;
    height: 758px;
    margin: 0 auto;
    .header {
      text-align: center;
      &Title {
        padding: 8px 0;
        font-size: 23px;
        font-weight: bold;
        width: 700px;
        border-bottom: 1px solid $line-gray;
      }
    }
    .formSection {
      padding: 44px 64px 0;
      .formGroups {
        margin: 0 auto;
        width: 320px;
      }
      &Discription {
        padding-top: 5px;
        font-size: 14px;
        color: gray;
      }
      &SendBtn {
        width: 320px;
        height: 50px;
        margin: 40px auto;
        line-height: 50px;
        font-size: 15px;
        text-align: center;
        color: $white;
        background: $button-red;
      }
    }
  }
}

.emailPasswordWrapper {
  .formGroupTitle {
  padding-top: 30px;
  font-size: 13px;
  }
}
.emailPasswordWrapper {
  input {
    width: 288px;
    height: 28px;
    padding: 10px 16px 8px;
    border: 1px solid darken($line-gray, 30%);
    border-radius: 5px;
  }
}
