.exhibitionItemSoldWrapper {
  background: $back-gray;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0 auto;
  .notificationNav {
  }
  .exhibitionItemMain {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    .exhibitionItemTitle {
      background-color: white;
      display: flex;
      flex-direction: column;
      h1 {
        height: 72px;
        margin-left: 20px;
        line-height: 72px;
        font-weight: bold;
        text-align: left;
      }

      .exhibitionItemHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $white;
        &List{
          float: left;
          width: 33%;
          height: 72px;
        }
        &LeftB{
          background: #eee;
        }
        &MidB{
          background: #eee;
        }
        &RightB{

          border-top: 2px solid $button-red;
        }
      }
      .exhibitionItemBody {
        background-position: center 40px;
        background-size: cover;
        .exhibitionItemBodyList {
          padding: 160px 0 60px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          color: #ccc;
        }
      }
    }


    .exhibitionItemPage {
      margin-top: 40px;
      .exhibitionItemPageFooter {
        &List{
          line-height: 42px;
          width: 42px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: white;
        }
        &Left{
          float: left;
        }
        &Right{
          float: right;
        }
      }
    }
  }
}

.exhibitionItemLeftLink {
  line-height: 72px;
  height: 72px;
  color: black;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.exhibitionItemMidLink {
  line-height: 72px;
  height: 72px;
  color: black;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.exhibitionItemRightLink {
  line-height: 72px;
  height: 72px;
  color: black;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.exhibitionItemCheckBLeftBtn {
  color: black;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.exhibitionItemCheckBRightBtn {
  color: black;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
