.header{
  width:80vw;
  margin:0 auto;
  padding-top: 5px;
  .topHeader{
    display:flex;
    .topHeaderLeft{
      .headerLogo{
        width: 134px;
      }
    }
    .topHeaderRight{
      .searchVer{
        background-color: #F5F5F5;
        border-radius: 3px ;
        width: 67vw;
        height:36px;
        border:1px solid #BDBDBD;
        margin-left: 20px;
        font-size: 16px;
        padding-left:10px;
      }
    }
  }

  .bottomHeader{
    display:flex;
    padding-top: 15px;
    vertical-align: middle;
    height:30px;
    line-height: 30px;
    width:inherit;
    .bottomHeaderleft{
      display:flex;
      justify-content: flex-start;
      font-size: 14px;
      width:370px;
      .bottomHeaderLeftBrand{
        padding-left: 16px;
      }
    }
    .bottomHeaderRight{
      display: flex;
      justify-content: flex-end;
      width:inherit;
      font-size: 14px;
      .avatar{
        height:30px;
        width:30px;
        border-radius: 50%;
        background-color: black;
      }
      .bottomHeaderRightMypage{
        padding-left: 16px;
      }
      .bottomHeaderRightInfo{
        padding-left: 16px;
      }
      .bottomHeaderRightTodo{
        padding-left: 16px;
      }
    }
  }
}
#Info{
  color:black;

}
