.header{
  width:80vw;
  margin:0 auto;
  padding-top: 5px;
  &Top{
    display:flex;
    &Left{
      .headerLogo{
        width: 134px;
      }
    }
    &Right{
      .searchBox{
        background-color: #F5F5F5;
        border-radius: 3px ;
        width: 67vw;
        height:36px;
        border:1px solid #BDBDBD;
        margin-left: 20px;
        font-size: 16px;
        padding-left:10px;
        padding-right:35px;
      }
      .searchBoxBtn{
        position: absolute;
        top: 5px;
        right: 140px;
        width: 36px;
        line-height: 36px;
        cursor: pointer;
        text-align: center;
        background-color: transparent;
        border: none;
        padding: 0;
        appearance: none;
        font-size: 20px;
      }
    }
  }

  &Bottom{
    display:flex;
    padding-top: 15px;
    vertical-align: middle;
    height:30px;
    line-height: 30px;
    width:inherit;
    &Left{
      display:flex;
      justify-content: flex-start;
      font-size: 14px;
      width:370px;
      &Category {
        text-decoration: none;
        color: black;
      }
      &Brand{
        padding-left: 16px;
      }
    }
    &Right{
      display: flex;
      justify-content: flex-end;
      width:inherit;
      font-size: 14px;
      &Avatar{
        height:30px;
        width:30px;
        border-radius: 50%;
        background-color: black;
      }
      &Mypage{
        padding-left: 5px;
        text-decoration: none;
        color: black;
      }
      &Info{
        padding-left: 16px;
        &Link {
          text-decoration: none;
          color: black;
        }
      }
      &Todo{
        // padding-left: 16px;
      }
    }
    &Right2 {
      display: flex;
      justify-content: flex-end;
      width:inherit;
      text-align: center;
      line-height: 15px;
      &SignIn {
        border-radius: 7%;
        background-color: $button-red;
        font-size: 13px;
        height: 15px;
        padding: 8px 13px;
        color: white;
        text-decoration: none;
      }
      &SignUp {
        margin-left: 10px;
        font-size: 14px;
        height: 15px;
        padding: 8px 12px;
        border-radius: 5%;
        color: $button-blue;
        border: 1px $button-blue solid;
        text-decoration: none;
      }
    }
  }
}
#Info{
  color:black;
  padding-left: 16px;
}
