.identificaionWrapper {
  background: gray;
  .mainWrapper {
    background: white;
    width: 700px;
    height: 1325px;
    margin: 0 auto;
    .header {
      text-align: center;
      &Title {
        padding: 5px 0;
        font-size: 24px;
        font-weight: bold;
      }
      &Discription {
        font-size: 13px;
        color: darken($line-gray, 60%);
        border: 1px solid $line-gray;
      }
    }
    .formSection {
      padding: 44px 64px 0;
      .formGroups {
        background: white;
      }
      &Discription {
        padding-top: 5px;
        font-size: 14px;
        color: gray;
      }
      &SendBtn {
        width: 538px;
        height: 50px;
        margin: 40px auto;
        line-height: 50px;
        font-size: 15px;
        text-align: center;
        color: $white;
        background: $button-red;
      }
    }
    .footerLink {
      float: right;
      padding-right: 70px;
      padding-top: 10px;
      font-size: 14px;
    }
  }
}

.formGroupTitle {
  padding-top: 30px;
  font-size: 13px;
  font-weight: bold;
}
.formGroupRequiare {
  margin-left: 5px;
  padding: 2px;
  background: $button-red;
  color: $white;
  font-size: 12px;
}
.formGroupOptional {
  margin-left: 5px;
  padding: 2px;
  background: darken($line-gray, 20%);
  color: $white;
  font-size: 12px;
}
input {
  width: 538px;
  height: 28px;
  padding: 10px 16px 8px;
  border: 1px solid darken($line-gray, 30%);
  border-radius: 5px;
}
select {
  width: 140px;
}
