  .wrapperSellingItemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start(default);
  align-items: center;
  background-color: white;
  .wrapperSellingItemName {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 10px;
    margin-top: 15px;
  }
  .wrapperSellingItemInfolLeftRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start(default);
    width: 620px;
    height: 345px;
    .wrapperSellingItemInfolLeft{
      display: flex;
      flex-direction: column;
      align-items: flex-start(default);
      width: 300px;
      background-color: #fafafa;
      overflow: hidden;
      .wrapperSellingItemInfolLeftHidden {
        position: relative;
        width:1200px;
        .wrapperSellingItemInfoLeftMainimage{
          display: flex;
          position: absolute;
          background-size: contain;
          img {
            width: 304px;
            height: 250px;
          }
        }
        .wrapperSellingItemInfoLeftSubimage{
          margin-top: 25px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: absolute;
          top: 250px;
          .wrapperSellingItemInfoLeftSubimages{
            background-size: contain;
            height: 75px;
            width: 75px;
          }
        }
      }
    }
    .wrapperSellingItemInfoRight{
      background-color: white;
      .wrapperSellingItemInfoRightTable{
        margin-left: 20px;
      }
    }
  }


  .wrapperSellingItemInfoPriceBox{
    display:flex;
    margin:0 auto;
    padding-top:30px;
    .wrapperSellingItemInfoPrice{
      font-size: 40px;
      padding-right: 20px;
      font-weight: bold;
    }
    .wrapperSellingItemInfoTax{
      font-size: 10px;
      vertical-align: bottom;
      line-height: 100px;
      margin-right: 5px;
    }
    .wrapperSellingItemInfoFare{
      font-size: 16px;
      vertical-align: bottom;
      line-height: 100px;
    }
  }
  .wrapperSellingItemInfoDescription {
    margin: 25px;
    width: 500px;
    font-size: 15px;
    color: 424242;
    text-align: left;
    word-wrap: break-word;
  }
}
