.logoutCcontent{
    min-height: 180px;
    box-sizing: border-box;
    width: 700px;
    float: right;
    background-color: $white;
    padding: 64px;
    .buttonLogout{
      text-align: center;
      .btn-default{
        height: 50px;
        background-color: darken($red, 3%);
        width: 320px;
        color: $white;
        font-size: 13px;
        display: block;
        margin: 0 auto;
        line-height: 50px;
        text-decoration: none;
      }
    }
}
