.wrapper{
  .slider{
    .bodyIcatchImage{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
      background-position: center;
      background-size: cover;
      &Box{
        height:390px;
        margin:0 auto;
        display:flex;
        justify-content: center;
        &Left{
          padding-top: 40px;
          &Title{
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 3px;
          }
          &Text{
            font-size: 18px;
            letter-spacing: 1px;
          }
          &Icons{
            display: flex;
            padding-top: 20px;
            &App{
              width:170px;
              height:50px;
            }
            &Google{
              width:170px;
              height:50px;
              padding-left: 10px;
            }
          }
        }
        &RightImage{
          height:100%;
        }
      }
    }
    .bodyIcatchImage2{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-new-register.png);
      background-position: center;
      background-size: cover;
      height:390px;
    }
    .bodyIcatchImage3{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-kusanagi-xmas.jpg);
      background-position: center;
      background-size: cover;
      height:390px;
    }
    .bodyIcatchImage4{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-welcome.png);
      background-position: center;
      background-size: cover;
      height:390px;
    }
  }
.bx-wrapper {
  margin-bottom: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color:#fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  position: top;
}


  .bodyPickup{
    padding:40px;
    margin:0 auto;
    text-align: center;
    background-color: #f5f5f5;
    &Title{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      padding-top: 80px;
    }
    &Links{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      display: inline-block;
      margin-top:30px;
      color:#3300F8;
      text-decoration:none;
    }
    &Containers{
      padding-top: 20px;
      &Container{
        display:flex;
        justify-content: space-around;
        width:65vw;
        margin:0 auto;
        &Box{
          &Top{
            height:213px;
            width:213px;
            background-color: black;
          }
          &Bottom{
            height:110px;
            width:213px;
            background-color: white;
            &Top{
              font-size: 16px;
              color:#333;
              padding-top:20px;
              height:48px;
              padding:16px 16px 0 16px;
              text-align: left;
            }
            &Bottom{
              padding:0 16px 16px 16px;
              &Like{
                &Icon{
                  float:right;
                  font-size: 20px;
                  color:#e5e5e5;
                }
                &Num{
                  float:right;
                  font-size: 16px;
                  color:#333;
                  padding-top: 5px;
                  padding-left: 5px;
                }
              }
              &Price{
                text-align: left;
                font-weight: 600;
                font-size: 20px;
                color:#333;
              }
              &Tax{
                font-size: 10px;
                color:333333;
                text-align: left;
              }
            }
          }
        }
      }
    .bodyPickupContainerSeeAll{
      width:65vw;
      margin:0 auto;
      padding-bottom: 40px;
      .SeeAll{
        float:right;
        padding-right:5px;
        font-size:13px;
        padding-top: 10px;
        color:#3300F8;
        text-decoration:none;
      }
      .SeeAll:hover {
        text-decoration: underline;
        color:#81D4FA;
      }
    }
    }
  }
}

.bodyPickupLinks:hover {
  text-decoration: underline;
  color:#81D4FA;
}


