.wrapper{
  .bodyIcatchImage{
    background: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
    background-position: center;
    background-size: cover;
    .bodyIcatchImageBox{
      height:390px;
      margin:0 auto;
      display:flex;
      justify-content: center;
      .bodyIcatchImageBoxLeft{
        padding-top: 40px;
        .bodyIcatchImageBoxLeftTitle{
          font-size: 60px;
          font-weight: bold;
          letter-spacing: 3px;
        }
        .bodyIcatchImageBoxLeftText{
          font-size: 18px;
          letter-spacing: 1px;
        }
        .bodyIcatchImageBoxLeftIcons{
          display: flex;
          padding-top: 20px;
          .bodyIcatchImageBoxLeftIconApp{
            width:170px;
            height:50px;
          }
          .bodyIcatchImageBoxLeftIconGoogle{
            width:170px;
            height:50px;
            padding-left: 10px;
          }
        }
      }
      .bodyIcatchImageBoxRightImage{
        height:100%;
      }
    }
  }


  .bodyPickup{
    padding:40px;
    margin:0 auto;
    text-align: center;
    background-color: #f5f5f5;
    .bodyPickupTitle{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      padding-top: 80px;
    }
    .bodyPickupLinks{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      display: inline-block;
      margin-top:30px;
      color:#3300F8;
      text-decoration:none;
    }
    .bodyPickupContainers{
      padding-top: 20px;
      .bodyPickupContainer{
        display:flex;
        justify-content: space-around;
        width:65vw;
        margin:0 auto;
        .bodyPickupContainerBox{
          .bodyPickupContainerBoxTop{
            height:213px;
            width:213px;
            background-color: black;
          }
          .bodyPickupContainerBoxBottom{
            height:110px;
            width:213px;
            background-color: white;
            .bodyPickupContainerBoxBottomTop{
              font-size: 16px;
              color:#333;
              padding-top:20px;
              height:48px;
              padding:16px 16px 0 16px;
              text-align: left;
            }
            .bodyPickupContainerBoxBottomBottom{
              padding:0 16px 16px 16px;
              .bodyPickupContainerBoxBottomBottomLike{
                .bodyPickupContainerBoxBottomBottomLikeIcon{
                  float:right;
                  font-size: 20px;
                  color:#e5e5e5;
                }
                .bodyPickupContainerBoxBottomBottomLikeNum{
                  float:right;
                  font-size: 16px;
                  color:#333;
                  padding-top: 5px;
                  padding-left: 5px;
                }
              }
              .bodyPickupContainerBoxBottomBottomPrice{
                text-align: left;
                font-weight: 600;
                font-size: 20px;
                color:#333;
              }
              .bodyPickupContainerBoxBottomBottomTax{
                font-size: 10px;
                color:333333;
                text-align: left;
              }
            }
          }
        }
      }
    .bodyPickupContainerSeeAll{
      width:65vw;
      margin:0 auto;
      padding-bottom: 40px;
      .SeeAll{
        float:right;
        padding-right:5px;
        font-size:13px;
        padding-top: 10px;
        color:#3300F8;
        text-decoration:none;
      }
    }
    }
  }
}
