.wrapperSellingItem {
  background-color: #f5f5f5;
  padding-top:40px;
  position: relative;
  .wrapperSellingItemSection {
    width: 700px;
    margin: 0 auto;
    .wrapperSellingItemName {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      line-height: 1.4;
      padding-bottom: 10px
    }
  }
    .wrapperSellingItemSetting {
      width: 668px;
      height: 246px;
      padding: 8 16 8 16px;
      margin: 24px auto;
      .wrapperSellingItemSettingEdit {
        height: 48px;
        padding: 50 0px;
        text-align: center;
        .wrapperSellingItemSettingEditBtn {
          line-height: 50px;
          font-size: 14px;
          color: $white;
          background: $button-red;
          border: 1px;
          display: block;
          border: 1px solid transparent;
          cursor: pointer;
          margin: 0 auto;
          text-decoration: none;
        }
      }
      .wrapperSellingItemSettingOr {
        height: 20px;
        .wrapperSellingItemSettingOrText {
          font-weight: bold;
          font-size: 15px;
          text-align: center;
          margin: 20px;
        }
      }
      .wrapperSellingItemSettingStop {
        height: 48px;
        padding-bottom: 22px;
        margin: auto;
        text-align: center;
        .wrapperSellingItemSettingStopBtn {
          line-height: 50px;
          font-size: 14px;
          color: $white;
          background: #aaa;
          border: 1px;
          display: block;
          border: 1px solid transparent;
          cursor: pointer;
          margin: 0 auto;
          text-decoration: none;
        }
      }
      .wrapperSellingItemSettingDelete {
        height: 48px;
        padding: 50 0px;
        text-align: center;
        .wrapperSellingItemSettingDeleteBtn {
          line-height: 50px;
          font-size: 14px;
          color: $white;
          background: #aaa;
          border: 1px;
          display: block;
          border: 1px solid transparent;
          cursor: pointer;
          margin: 0 auto;
          text-decoration: none;
        }
      }
    }
      .wrapperSellingItemCommet {
        margin: 0 auto;
      }
}

// Modal
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal {
  background: #fff;
  width: 600px;
  height: 310px;
  border-radius: 4px;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  transition: .3s;
  z-index: 2;
  color: darken($line-gray, 80%);
}
#mask.hidden {
  display: none;
}
#modal.hidden {
  transform: translate(0 , -1500px);
}
.deleteModal {
  text-align: center;
  font-size: 14px;
  &Top {
    height: 140px;
    margin: 50px;
    &Title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 8px;
    }
    &Confirm {
      margin-top: 50px;
    }
  }
  &Bottom {
    display: flex;
    height: 70px;
    line-height: 70px;
    border-top: 1px solid darken($line-gray, 30%);
    &Cancel {
      border-right: 1px solid darken($line-gray, 30%);
      width: 50%;
    }
    &Delete {
      width: 50%;
      display: block;
      text-decoration: none;
      color: $button-blue;
    }
  }
}
