.signup{
    background-color: $liteGray;
  .headerSignup{
    height: 128px;
    text-align: center;
    .logoSignup{
      height: 49px;
      width: 185px;
      margin-top: 40px;
    }
  }
  .signupMain{
    display: block;
    .signupContents{
      box-sizing: border-box;
      width: 700px;
      margin: 0 auto;
      background-color: white;
      &Top{
        box-sizing: border-box;
        text-align: center;
        padding: 32px 16px;
        height: 50px;
        vertical-align: middle;
        .signupH1{
          font-size: 22px;
          display: inline;
        }
      }
      .signupInner{
        padding: 64px;
        border-top: 1px solid $liteGray;
        .signupKeys{
          max-width: 320px;
          margin: 0 auto;
          box-sizing: border-box;
          .signKeyEmail{
            margin: 0;
            box-sizing: border-box;
          }
            .keys{
              width: 100%;
              margin-top: 16px;
              border: 1px solid transparent;
              box-sizing: border-box;
            }
        }
      }
    }
  }
  .footerSignupInner{
    height: 140px;
    margin: 0 auto;
    width: 500px;
    padding: 40px 0;
    text-align: center;
      nav{
        margin: 0;
        padding: 0;
        text-align: center;
        li{
          list-style: none;
          display:  inline-block;
          margin: 0 10px;
          a{
            font-size: 12px;
          }
        }
      }
      .footerlogo{
        height: 65px;
        width: 80px;
        display: inline-block;
        margin-top: 40px;
      }
        p{
          display: block;
          margin: 0;
          font-size: 12px;
        }
  }
}
