.signinWrapper {
  height: 850px;
  background: $back-gray;
  .signinMain {
    width: 456px;
    height: 770px;
    margin: 0 auto;
    text-align: center;
    background: white;
    .signinPanel {
      .signinNoAccount {
        margin: 0 auto;
        width: 300px;
        p {
          font-size: 14px;
          padding-top: 30px;
        }
        .signinCardSignup {
          width: 328px;
          height: 33px;
          padding-top: 12px;
          font-size: 13px;
          color: white;
          display: block;
          background-color: $button-blue;
          text-decoration: none;
        }
      }
      .horizon {
        margin-top: 45px;
        margin-bottom: 45px;
        border-color: $white;
        display: inline-block;
        width: 100%;
      }
      .signinForm {
        margin: 0 auto;
        width: 300px;
        &Facebook {
          position: relative;
          .fa-facebook-square {
            position: absolute;
            left: 10px;
            top: 14px;
            color: white;
            font-size: 20px;
          }
          &Card {
            width: 328px;
            height: 35px;
            color: white;
            text-align: center;
            font-size: 13px;
            background-color: $facebook;
            margin-bottom: 20px;
            padding-top: 12px;
            display: inline-block;
            text-decoration: none;
          }
        }
        &Google {
          position: relative;
          .fa-google-plus {
            position: absolute;
            left: 10px;
            top: 25px;
            color: white;
            font-size: 20px;
          }
          &Card {
            width: 328px;
            height: 35px;
            text-align: center;
            padding-top: 12px;
            font-size: 13px;
            color: white;
            background-color: $google;
            margin-top: 12px;
            display: inline-block;
            margin-bottom: 60px;
            text-decoration: none;
          }
        }
      }
      .signinFormWrapper {
        margin: 0 auto;
        width: 300px;
        .signinForm {
          &Email {
            input {
              display: block;
              width: 330px;
              height: 42px;
              margin-bottom: 20px;
            }
          }
          &Password {
            input {
              display: block;
              height: 42px;
              width: 330px;
              margin-bottom: 20px;
            }
          }
          &Recapcha {
            margin-bottom: 20px;
          }
          &Button {
            width: 328px;
            height: 35px;
            background-color: $button-red;
            text-decoration: none;
            font-size: 13px;
            padding-top: 12px;
            a {
              color: white;
              text-decoration: none;
            }
          }
          &ForgetPassword {
            padding: 30px 0 0;
            float: left;
            font-size: 13px;
            a {
              text-decoration: none;
              color: $button-blue;
            }
          }
        }
      }
    }
  }
}
