.wrapper{
  .slider{
    .bodyIcatchImage{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
      background-position: center;
      background-size: cover;
      &Box{
        height:390px;
        margin:0 auto;
        display:flex;
        justify-content: center;
        &Left{
          padding-top: 40px;
          &Title{
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 3px;
          }
          &Text{
            font-size: 18px;
            letter-spacing: 1px;
          }
          &Icons{
            display: flex;
            padding-top: 20px;
            &App{
              width:170px;
              height:50px;
            }
            &Google{
              width:170px;
              height:50px;
              padding-left: 10px;
            }
          }
        }
        &RightImage{
          height:100%;
        }
      }
    }
    .bodyIcatchImage2{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/banner-bokurano-heisei.jpg);
      background-position: center;
      background-size: cover;
      height:390px;
    }
    .bodyIcatchImage3{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-kusanagi.jpg);
      background-position: center;
      background-size: cover;
      height:390px;
    }
    .bodyIcatchImage4{
      background: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-welcome.png);
      background-position: center;
      background-size: cover;
      height:390px;
    }
  }
.bx-wrapper {
  margin-bottom: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color:#fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  position: top;
}


  .bodyPickup{
    padding:40px;
    margin:0 auto;
    text-align: center;
    background-color: #f5f5f5;
    &Title{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      padding-top: 80px;
    }
    &Links{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      display: inline-block;
      margin-top:30px;
      color:#3300F8;
      text-decoration:none;
    }
    &Containers{
      padding-top: 20px;
      &Container{
        display:flex;
        justify-content: space-around;
        width:65vw;
        margin:0 auto;
        &Box{
          &Top{
            height:213px;
            width:213px;
            background-color: black;
          }
          &Bottom{
            height:110px;
            width:213px;
            background-color: white;
            &Top{
              font-size: 16px;
              color:#333;
              padding-top:20px;
              height:48px;
              padding:16px 16px 0 16px;
              text-align: left;
            }
            &Bottom{
              padding:0 16px 16px 16px;
              &Like{
                &Icon{
                  float:right;
                  font-size: 20px;
                  color:#e5e5e5;
                }
                &Num{
                  float:right;
                  font-size: 16px;
                  color:#333;
                  padding-top: 5px;
                  padding-left: 5px;
                }
              }
              &Price{
                text-align: left;
                font-weight: 600;
                font-size: 20px;
                color:#333;
              }
              &Tax{
                font-size: 10px;
                color:333333;
                text-align: left;
              }
            }
          }
        }
      }
    .bodyPickupContainerSeeAll{
      width:65vw;
      margin:0 auto;
      padding-bottom: 40px;
      .SeeAll{
        float:right;
        padding-right:5px;
        font-size:13px;
        padding-top: 10px;
        color:#3300F8;
        text-decoration:none;
      }
      .SeeAll:hover {
        text-decoration: underline;
        color:#81D4FA;
      }
    }
    }
  }
}

.bodyPickupLinks:hover {
  text-decoration: underline;
  color:#81D4FA;
}







// show画面のscssは下記
.wrapperShow{
  background-color: #f5f5f5;
  padding-top:40px;
  .wrapperShowItem{
    width:700px;
    box-sizing: border-box;
    background-color:white;
    padding:24px 40px 40px 40px;
    margin:0 auto;
    .wrapperShowItemName{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 1.4;
      padding-bottom: 10px
    }
    .wrapperShowItemDetail{
      display:flex;
      justify-content:space-around;
      .wrapperShowItemDetailHidden{
        position: relative;
        width:300px;
        overflow: hidden;
        .wrapperShowItemDetailLeft{
          background-color: #fafafa;
          height: 300px;
          position:absolute;;
          width:1212px;
          .wrapperShowItemDetailLeftThumbnail{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow: hidden;
            width: 300px;
            height: 300px;
            border: 0px;
            display: inline-block;
            img{
              height:300px;
              width:300px;
              border:solid 1px white;
              border: 0px;
            }
          }
        }
          .wrapperShowItemDetailLeftimages{
            display:flex;
            width:300px;
            margin: 0 auto;
            box-sizing: border-box;
            position: absolute;
            top:300px;
            .wrapperShowItemDetailLeftimagesImage:first-child{
              img{
                height:75px;
                width:75px;
                border:none;
                opacity: 1;
                }
              }
            img{
              height:75px;
              width:75px;
              border:none;
              opacity: 0.5;
              }
          }
        }
      .wrapperShowItemDetailRight{
        .wrapperShowItemDetailRightTable{
        }
      }
    }
    .wrapperShowItemPriceBox{
      display:flex;
      width:25vw;
      margin:0 auto;
      padding-top:30px;
      .wrapperShowItemPrice{
        font-size: 50px;
        padding-right: 20px;
        font-weight: bold;
      }
      .wrapperShowItemTax{
        font-size: 10px;
        vertical-align: bottom;
        line-height: 100px;
        margin-right: 5px;
      }
      .wrapperShowItemFare{
        font-size: 16px;
        vertical-align: bottom;
        line-height: 100px;
      }
    }
    .wrapperShowItemPoint {
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      display: inline-block;
      margin: 1.5em 0  0 0;
      padding: 10px 13px;
      min-width: 120px;
      max-width: 100%;
      color: #fff;
      font-size: 16px;
      background: #00B3B7;
      border-radius: 5px;
    }

    .wrapperShowItemPoint:before{
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-top: 15px solid #00B3B7;
    }
    .wrapperShowItemBuy{
      width:42.5vw;
      background-color: red;
      .wrapperShowItemBuyText{
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 30px;
        padding:10px 0;
      }
    }
    .wrapperShowItemDescription{
      margin-top:50px;
      font-size: 20px;
      color:424242;
    }
    .wrapperShowItemLinks{
      display:flex;
      justify-content:space-between;
      margin-top: 20px;
      .wrapperShowItemLinksLeft{
        display:flex;
        .wrapperShowItemLinksLikes{
          background-color: #f5f5f5;
          border-radius: 30px;
          padding:5px 10px 2px 5px;
          .wrapperShowItemLinksLikesText{
            font-size: 13px;
            vertical-align: middle;
            line-height: 34px;
          }
        }
        .wrapperShowItemLinksReport{
          background-color: #f5f5f5;
          border-radius: 30px;
          padding:5px 10px;
          padding:5px 10px 2px 5px;
          margin-left:20px;
          .wrapperShowItemLinksReportText{
            vertical-align: middle;
            line-height: 34px;
            font-size: 13px;
          }
        }
      }
    }
  }
}


.fa-heart-o{
  color:#BDBDBD;
  padding:0 5px;
  font-size: 16px;
}

.fa-flag-o{
  padding:0 5px;
}

.security{
  color:#00ACF5;
  text-decoration: none;
  vertical-align: middle;
  line-height: 41px;
  font-size: 13px;
  letter-spacing: 1px;
}

.fa-lock{
  color:#00ACF5;
  padding:0 5px;
}


.tableLeft{
  width: 43%;
  background-color: #fafafa;
  border: 1px solid #f5f5f5;
  font-size: 14px;
}

.tableRight{
  width: 57%;
  border: 1px solid #f5f5f5;
  font-size: 13px;
}

td {
  padding:8px;
  line-height: 1.2;
}

th{
  padding:8px;
  line-height: 1.4;
}

.fa-smile-o{
  font-size: 20px;
  color:red;
}

.fa-meh-o{
  font-size: 20px;
  color:yellow;
}

.fa-frown-o{
  font-size: 20px;
  color:blue;
}

.tableLinks{
  color:#00ACF5;
  text-decoration: none;
}


// 商品コメント機能との隙間
.wrapperShowNich{
  background-color: #f5f5f5;
  height:8px;
}

// 商品コメント機能のフロント
.wrapperShowComments{
  width:700px;
  box-sizing: border-box;
  background-color:white;
  margin:0 auto;
  padding:34px 40px 40px 40px;
  .wrapperShowCommentsShow{
    display:flex;
    width:620px;
    padding:0 24px;
    margin: 0 auto;
    .wrapperShowCommentsShowLeft{
      margin-right:20px;
      .wrapperShowCommentsShowLeftIcon{
        background-color: black;
        height:40px;
        width:40px;
        border-radius: 50%;
      }
      .wrapperShowCommentsShowLeftSeller{
        font-size: 12px;
        background-color: #eef0f4;
        margin-top:10px;
      }
    }
    .wrapperShowCommentsShowRight{
      width:77%;
      .wrapperShowCommentsShowRightName{
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
      }
      .wrapperShowCommentsShowRightContent{
        padding:16px;
        background-color: #eef0f4;
        width:100%;
        border-radius:10px;
        .wrapperShowCommentsShowRightContentTop{
          font-size: 13px;
        }
        .wrapperShowCommentsShowRightContentBottom{
          display:flex;
          justify-content:space-between;
          .wrapperShowCommentsShowRightContentBottomLeft{
            font-size: 14px;
            color:#BDBDBD;
            padding-top: 15px;
          }
          .wrapperShowCommentsShowRightContentBottomRight{
          }
        }
      }
    }
  }
  .wrapperShowCommentNew{
    padding:24px;
    .wrapperShowCommentNewAdvice{
      padding:8px;
      background-color:#fff6de;
      font-size:12px;
      width: 100%;
      box-sizing: border-box;
    }
    textarea{
      min-height: 104px;
      max-width: 100%;
      margin-top: 8px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }
    .wrapperShowCommentNewSumit{
      box-sizing: border-box;
      width: 100%;
      background-color:#888;
      color: $white;
      text-align: center;
      height: 50px;
      vertical-align: middle;
      padding: 11px 0;
      box-sizing: border-box;
    }
  }
}
.wrapperShowPage{
  width: 700px;
  margin: 24px auto 0;
  &Back{
    vertical-align: middle;
    display: inline-block;
    float: left;
  }
  &Next{
    vertical-align: middle;
    display: inline-block;
    float: right;
  }
    .title{
      font-size: 15px;
      padding: 0 14px 0;
      max-width: 21vw;
      box-sizing: border-box;
      color: #0099e8;
    }
    .fa-chevron-left,.fa-chevron-right{
      display: inline;
      position: flex;
      font-size: 15px;
      color: #0099e8;
    }
}
.wrapperShowSns{
  width:700px;
  margin: 24px auto;
  .wrapperShowSnsCenter{
    text-align: center;
    background-color: $white;
    padding: 32px 0 24px;
    .wrapperShowSnsBox{
      margin-top: 16px;
      height: 50px;
      box-sizing: border-box;
      img{
        height: 44px;
        width: 44px;
      }
    }
  }
}
.wrapperShowUsersItems{
  width: 700px;
  margin: 0 auto;
  font-size: 0;
  &Head{
    font-size:25px;
    color:#0099e8;
  }
  &container{
    width:700px;
    max-height: 700px;
  }
  .wrapperShowUsersItem{
    width:220px;
    height: 330px;
    background-color: $white;
    display: inline-block;
    box-sizing:border-box;
    margin-bottom: 20px;
    &Image{
      height: 220px;
      background-color: yellow;
    }
    &Body{
      height: 110px;
      padding:16px;
      box-sizing: border-box;
      &Title{
        font-size: 16px;
        height:48px;
        overflow: hidden;
      }
      &Details{
        margin-top:8px;
        height: 30px;
        &Price{
          font-size:20px;
          display: inline-block;
        }
        &Likes{
          float:right;
        }
        &Tax{
            font-size: 10px;
            color: #C0C0C0;
        }
      }
    }
  }
}
.wrapperShowUsersItemLikesIcon.far.fa-heart{
  display: inline-block;
  color:gray;
}
.wrapperShowUsersItemLikesCount{
  display: inline-block;
}
.clearfix::after {
      content : " ";
      display : block;
      clear : both;
}

.wrapperShowUsersItem + .wrapperShowUsersItem{
  margin-left: 20px;
  margin-bottom: 20px;
}
.wrapperShowUsersItem:nth-of-type(3n+1){
  margin-bottom: 20px;
  margin-left: 0;
}
.fa-clock-o{
  color:#BDBDBD;
  font-size: 22px;
  vertical-align: middle;
  line-height: 15px;
}

.fa-flag-o{
  font-size: 14px;
  color:#BDBDBD;
  padding-top: 20px
}
