.header
  .topHeader
    .topHeaderLeft
      = embedded_svg("logo.svg", class: "headerLogo")
    .topHeaderRight
      %input{placeholder:"キーワードから探す", :type => "text",class: "searchVer"}

  .bottomHeader
    .bottomHeaderleft
      .bottomHeaderLeftCategory カテゴリーから探す
      .bottomHeaderLeftBrand ブランドから探す
    .bottomHeaderRight
      .avatar
      .bottomHeaderRightMypage マイページ
      .bottomHeaderRightInfo
        = fa_icon "bell-o",class: "fa-bell-o",id: "Info"
        お知らせ
      .bottomHeaderRightTodo
        = fa_icon "fa-check",class: "fa-check",id: "Info"
        やることリスト

